<%= form_for(locacao) do |f| %>
  <% if locacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locacao.errors.count, "error") %> prohibited this locacao from being saved:</h2>

      <ul>
      <% locacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-estacionamento">
    <%= f.label :placa, class: "label-estacionamento" %>
    <%= f.text_field :placa, class: "text-field-estacionamento" %>
  </div>

  <div class="field-disponibilidade">
    <%= f.label :vaga_id, class: "label-disponiblidade" %>
    <%= f.text_field :vaga_id, class: "check-box-disponiblidade" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
