<p id="notice"><%= notice %></p>

<h1 class="title-parking">Locacaos</h1>

<table>
  <thead>
    <tr class="table-parking">
      <th>Placa</th>
      <th>Vaga</th>
      <th>Entrada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locacaos.each do |locacao| %>
      <tr>
        <td><%= locacao.placa %></td>
        <td><%= locacao.vaga.id %></td>
        <td><%= locacao.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></td>
        <td><%= link_to 'Show', locacao %></td>
        <td><%= link_to 'Destroy', locacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locacao', new_locacao_path, class: "btn-new-vaga" %>
