<p id="notice"><%= notice %></p>

<p>
  <strong>Placa:</strong>
  <%= @locacao.placa %>
</p>

<p>
  <strong>Vaga:</strong>
  <%= @locacao.vaga.id %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @locacao.created_at.strftime("%d/%m/%Y - %H:%M:%S") %>
</p>

<div class="faixa">
  <ul>
    <li><%= link_to 'Finalizar', locacao_finalizar_path(@locacao.id) %></li>
    <li><%= link_to 'Back', locacaos_path %></li>
  </ul>
</div> 
