<%= form_for(debite) do |f| %>
  <% if debite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(debite.errors.count, "error") %> prohibited this debite from being saved:</h2>

      <ul>
      <% debite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-estacionamento">
    <%= f.label :user_id, class: "label-estacionamento" %>
    <%= f.text_field :user_id, class: "text-field-estacionamento" %>
  </div>

  <div class="field-estacionamento">
    <%= f.label :estacionamento_id, class: "label-estacionamento" %>
    <%= f.text_field :estacionamento_id, class: "text-field-estacionamento" %>
  </div>

  <div class="field-estacionamento">
    <%= f.label :caixa_id, class: "label-estacionamento" %>
    <%= f.text_field :caixa_id, class: "text-field-estacionamento" %>
  </div>

  <div class="field-estacionamento">
    <%= f.label :valor, class: "label-estacionamento" %>
    <%= f.number_field :valor, class: "text-field-estacionamento" %>
  </div>

  <div class="field-estacionamento">
    <%= f.label :motivo, class: "label-estacionamento" %>
    <%= f.text_area :motivo, class: "text-field-area" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
