<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @debite.user.email %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @debite.valor %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @debite.motivo %>
</p>

<% if current_user.adm? %>
  <%= link_to 'Back', debites_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<%end%>