<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sangrium.user.email %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @sangrium.valor %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @sangrium.motivo %>
</p>

<% if current_user.adm? %>
  <%= link_to 'Back', sangria_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<%end%>
