<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sangrium.user %>
</p>

<p>
  <strong>Estacionamento:</strong>
  <%= @sangrium.estacionamento %>
</p>

<p>
  <strong>Caixa:</strong>
  <%= @sangrium.caixa %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @sangrium.valor %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @sangrium.motivo %>
</p>

<%= link_to 'Back', sangria_path %>
