<p id="notice"><%= notice %></p>

<h1>Fechamentos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Caixa</th>
      <th>Valor</th>
      <th>Obs</th>
      <th>Valor anterior</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fechamentos.each do |fechamento| %>
      <tr>
        <td><%= fechamento.user %></td>
        <td><%= fechamento.caixa %></td>
        <td><%= fechamento.valor %></td>
        <td><%= fechamento.obs %></td>
        <td><%= fechamento.valor_anterior %></td>
        <td><%= fechamento.status %></td>
        <td><%= link_to 'Show', fechamento %></td>
        <td><%= link_to 'Edit', edit_fechamento_path(fechamento) %></td>
        <td><%= link_to 'Destroy', fechamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fechamento', new_fechamento_path %>
