<div class="box">
  <h2 class="title-login">Logar</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-container">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="input-container">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="input-container">
        <%= f.check_box :remember_me, class: "check-box-login" %>
        <%= f.label :remember_me, class: "remember-me" %>
      </div>
    <% end %>

    <div class="btn-login">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>




<%# <div class="box">
	<form>
		<span class="text-center">login</span>
	<div class="input-container">
		<input type="text" required=""/>
		<label>Full Name</label>		
	</div>
	<div class="input-container">		
		<input type="mail" required=""/>
		<label>Email</label>
	</div>
		<button type="button" class="btn-login">submit</button>
</form>	
</div> %>