<%= form_for(vaga) do |f| %>
  <% if vaga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>

      <ul>
      <% vaga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estacionamento_id %>
    <%= f.text_field :estacionamento_id %>
  </div>

  <div class="field">
    <%= f.label :disponibilidade %>
    <%= f.check_box :disponibilidade %>
  </div>

  <div class="field">
    <%= f.label :preco %>
    <%= f.text_field :preco %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
