<%= form_for(vaga) do |f| %>
  <% if vaga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>

      <ul>
      <% vaga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-estacionamento">
    <%= f.label :estacionamento_id, class: "label-estacionamento" %>
    <%= f.text_field :estacionamento_id, class: "text-field-estacionamento" %>
  </div>

  <div class="field-disponibilidade">
    <%= f.label :disponibilidade, class: "label-disponiblidade" %>
    <%= f.check_box :disponibilidade, class: "check-box-disponiblidade" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
