<p id="notice"><%= notice %></p>

<h1 class="title-parking">Parking System</h1>

<table>
  <thead>
    <tr class="table-parking">
      <th>Numero da vaga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td><%= vaga.id %></td>
        <td><%= link_to 'Show', vaga %></td>
        <td><%= link_to 'Alocar', new_locacao_path(vaga_id: vaga.id) %></td>
        <td><%= link_to 'Destroy', vaga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Vaga', vagas_path, method: :post,  class: "btn-new-vaga" %>
