<p id="notice"><%= notice %></p>

<p>
  <strong>Estacionamento:</strong>
  <%= @vaga.estacionamento %>
</p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @vaga.disponibilidade %>
</p>


<%= link_to 'Edit', edit_vaga_path(@vaga) %> |
<%= link_to 'Back', vagas_path %>
