<p id="notice"><%= notice %></p>

<h1>Estacionamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estacionamentos.each do |estacionamento| %>
      <tr>
        <td><%= estacionamento.nome %></td>
        <td><%= link_to 'Show', estacionamento %></td>
        <td><%= link_to 'Edit', edit_estacionamento_path(estacionamento) %></td>
        <td><%= link_to 'Destroy', estacionamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estacionamento', new_estacionamento_path %>
