<%= form_for(venda) do |f| %>
  <% if venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venda.errors.count, "error") %> prohibited this venda from being saved:</h2>

      <ul>
      <% venda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-estacionamento">
    <%= f.label :valor, class: "label-estacionamento" %>
    <%= f.text_field :valor, class: "text-field-estacionamento"  %>
  </div>

  <div class="field-estacionamento">
    <%= f.label :tipo_pagamento, class: "label-estacionamento" %>
    <%= f.number_field :tipo_pagamento, class: "text-field-estacionamento"  %>
  </div>

  <div class="field-estacionamento">
    <%= f.label :locacao_id, class: "label-estacionamento" %>
    <%= f.number_field :locacao_id, class: "text-field-estacionamento"  %>
  </div>

  <div class="actions">
    <%= f.button :submit, name: "time", value: Time.now %>
  </div>
<% end %>
