<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Valor</th>
      <th>Tipo pagamento</th>
      <th>Placa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.user.email %></td>
        <td><%= venda.valor %></td>
        <td><%= venda.tipo_pagamento %></td>
        <td><%= venda.locacao.try(:placa) || "Sem placa" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
