<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @venda.user %>
</p>

<p>
  <strong>Caixa:</strong>
  <%= @venda.caixa %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @venda.valor %>
</p>

<p>
  <strong>Tipo pagamento:</strong>
  <%= @venda.tipo_pagamento %>
</p>

<p>
  <strong>Locacao:</strong>
  <%= @venda.locacao %>
</p>

<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
