<%= form_for(abertura) do |f| %>
  <% if abertura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(abertura.errors.count, "error") %> prohibited this abertura from being saved:</h2>

      <ul>
      <% abertura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :caixa_id %>
    <%= f.text_field :caixa_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
